header {
	width:100%;
	background-color:pink;
	border:1px solid pink;
}
section {
	float:left;
	width:70%;
	background-color:#FF77FF;
}
nav {
	
	right:0;
	display:block;
	float:right;
	width:30%;
	background-color:#FFFF99;
}
ul {
	display:block;
}
footer {
	float:left;
	width:100%;
	color:white;
	background-color: black;
	border:1px solid black;
}
.clearfix::after {
	content:".";
	font-size:0;
	clear:both;
}